.Search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.Search-bar {
  display: flex;
  width: 100%; /* O contêiner de busca ocupa toda a largura disponível */
  background-color: rgba(217, 217, 217, 0.87);
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Search-bar:hover {
  transform: scale(1.05);
}

.Search-input {
  flex: 1; /* Faz com que o campo de entrada ocupe todo o espaço disponível */
  border: none;
  background-color: transparent; /* Fundo transparente para o input */
  font-size: 16px; /* Tamanho da fonte */
  color: white; /* Cor do texto */
}

.Search-input::placeholder {
  color: white; /* Cor do placeholder */
}

.Search-input:focus {
  outline: none; /* Remove o contorno padrão ao focar no input */
}

.Search-bar img {
  width: 25px; /* Largura do ícone de busca */
  height: 25px; /* Altura do ícone de busca */
  cursor: pointer; /* Cursor em forma de ponteiro ao passar o mouse */
}
