.Search-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Search-bar {
  display: flex;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.87);
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Search-bar:hover {
  transform: scale(1.05);
}

.Search-input {
  flex: 1;
  border: none;
  background-color: transparent; 
  font-size: 16px; 
  color: white; 
}

.Search-input::placeholder {
  color: white; 
}

.Search-input:focus {
  outline: none;
}

.Search-bar img {
  width: 25px; 
  height: 25px;
  cursor: pointer;
}

@media (max-width: 590px){
  .Search-bar img {
    display: none;
  }

  .Search-input {
    font-size: 12px; 
  }
}
