.header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between; /* Espaço entre a logo e o botão */
    align-items: center; /* Centraliza verticalmente todos os itens */
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens dentro da navbar */
}

.navbar-logo {
    width: 90px; /* Ajuste conforme necessário */
}

.navbar .logo {
    font-size: 32px;
    color: #fff;
}

.navbar a.menu {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
}   

.navbar a.menu::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #C62733;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar .button {
    margin-left: auto; /* Alinha o botão à direita */
    max-width: 48%;
    min-width: 150px;
    display: flex; /* Adiciona display flex para justificar o conteúdo se necessário */
    justify-content: center; /* Centraliza o texto dentro do botão */
    align-items: center;
    border-style: none;
}

.navbar1 .button {
    margin-left:30%; /* Alinha o botão à direita */
    max-width: 48%;
    min-width: 150px;
    background-color: transparent;
    color: #C62733;
    border-color: #C62733;
    border-style: solid;
    display: flex; /* Adiciona display flex para justificar o conteúdo se necessário */
    justify-content: center; /* Centraliza o texto dentro do botão */
    align-items: center;
}
.navbar1 .button:hover {
    color: #fff;
    border-style: none;
}
 