.select .css-13cymwt-control{
    width: 100% !important;
    border: 1px solid #202020 !important;
    box-shadow: none !important;
    height: 40px !important;
    border-radius: 4px !important;
    transition: border .15s ease-in-out;
  }
  .select .css-t3ipsp-control{
    width: 100% !important;
    border: 2px solid var#202020;
    box-shadow: none !important;
    height: 40px !important;
    border-radius: 4px !important;
    transition: border .15s ease-in-out;
  }
  
  .select .css-g56vrd-indicatorContainer{
    position: absolute;
    right: 0;
  }