.button{
    border-radius: 4px;
    background-color: #C62733;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: 600;
    transition: 0.2s;
    width: 15%;
  }

.button:hover {
    background-image: linear-gradient(to top, #C62733, #E8545D);
    background-color: #E8545D;
}
