.Home-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Home-Container img {
    width: 100%;
    height: auto;
}

.Title {
    width: 75%;
    padding: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
}

.Title h1 {
    font-size: 5vw;
    font-weight: 900;
    color: #fff;
}

.Title h2 {
    width: 80%;
    font-size: 3vh;
    text-align: justify;
    font-weight: 200;
    color: #fff;
    margin-top: 10px;
}

.Doubt{
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}

@media (min-width: 320px) and (max-width: 480px){
    .Title h1 {
        font-size: 3vw;
    }
    
    .Title h2 {
        width: 100%;
        font-size: 1.5vh;
        text-align: justify;
    }
}
  
  @media (min-width: 481px) and (max-width: 767px) {
    .Title h1 {
        font-size: 3vw;
    }
    
    .Title h2 {
        width: 100%;
        font-size: 1.7vh;
        text-align: justify;
    }

}
  
  @media (min-width: 768px) and (max-width: 991px) {
    .Title h1 {
        font-size: 4vw;
    }
    
    .Title h2 {
        width: 80%;
        font-size: 2.5vh;
        text-align: justify;
    }
  }
