.header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.582);
  height: 10%;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.logo {
  width: 120px; 
  margin-right: auto; 
}

.menu {
  align-items: center;
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin: 0 20px;
}

.menu::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #C62733;
  transition: .3s;
}

.menu:hover::before {
  width: 100%;
}

.profileButtonContainer{
  width: auto;
  justify-content: flex-end;
}

.profileImage {
  width: 40px;
  height: 40px;
  margin-left: 1800%; 
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s ease;
}

.profileImage:hover {
  border: 2px solid #C62733;
}


.botao {
  margin-left: 300%; 
  max-width: 48%;
  min-width: 150px;
  background-color: transparent;
  color: #C62733;
  border-color: #C62733;
  border-style: solid;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.botao:hover {
  color: #fff;
  border-style: none;
  background-image: linear-gradient(to top, #C62733, #E8545D);
  background-color: #E8545D;
}

.menuToggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.menuToggle .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

.menuItems {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.open {
  display: flex;
}

@media (max-width: 1700px) {
  .botao {
    margin-left: 400%;
    max-width: 48%;
    min-width: 150px;
    background-color: transparent;
    color: #C62733;
    border-color: #C62733;
    border-style: solid;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .profileImage {
    width: 40px;
    height: 40px;
    margin-left: 1200%; 
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.3s ease;
  }
  
}

@media (max-width: 1400px ) {
  .botao {
    margin-left: 200%;
    max-width: 48%;
    min-width: 150px;
    background-color: transparent;
    color: #C62733;
    border-color: #C62733;
    border-style: solid;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .profileImage {
    width: 40px;
    height: 40px;
    margin-left: 1000%; 
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.3s ease;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: contents; 
    width: 100%;
    padding: 10px;
  }

  .menuToggle {
    display: flex; 
  }

  .menuItems {
    display: none; 
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%; 
    left: 0;
    padding: 10px;
    height: auto;
    z-index: 50;
  }

  .open {
    display: flex; 
  }

  .menu {
    margin: 10px 0; 
    text-align: center; 
  }

  .botao {
    margin-left: 0%;
    max-width: 48%;
    min-width: 150px;
    color: #f5f5f5;
    border-color: #C62733;
    border-style: solid;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
 
  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0;
    cursor: pointer;
    transition: border 0.3s ease;
  }
  
}
