/* src/components/Navbar.css */

.header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  height: 90px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 90px; 
}

.navbar .logo {
  font-size: 32px;
  color: #fff;
}

.navbar a.menu {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a.menu::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #C62733;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar .botao {
  margin-left: auto; 
  max-width: 48%;
  min-width: 150px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  border-style: none;
}

.botao {
  margin-left: 30%;
  max-width: 48%;
  min-width: 150px;
  background-color: transparent;
  color: #C62733;
  border-color: #C62733;
  border-style: solid;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.botao:hover {
  color: #fff;
  border-style: none;
  background-image: linear-gradient(to top, #C62733, #E8545D);
  background-color: #E8545D;
}

/* Mobile Styles */
.menu-toggle {
  display: none; /* Esconde o botão no desktop */
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

/* Menu Items */
.menu-items {
  display: flex;
}

.menu-items.open {
  display: flex;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Alinha os itens em coluna no mobile */
    width: 100%;
    padding: 10px;
  }

  .menu-toggle {
    display: flex; /* Mostra o botão no mobile */
  }

  .menu-items {
    display: none; /* Esconde os itens do menu */
    flex-direction: column; /* Alinha os itens em coluna */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 90px; /* Abaixo do header */
    left: 0;
    z-index: 50;
  }

  .menu-items.open {
    display: flex; /* Mostra os itens quando o menu está aberto */
  }

  .navbar a.menu {
    margin: 10px 0; /* Ajusta margens no mobile */
    text-align: center; /* Centraliza o texto */
  }
}
