.Marketplace {
    margin: 7% 0;
}


.Marketplace h1 {
    padding-left: 10%;
    color: #706B6B;
    font-weight: 600;
    margin-bottom: 2%;
}


.Header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: #C62733;
    margin: 4% 0;
}


.Logo {
    display: none;
}


.Search-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(217, 217, 217, 0.87);
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    width: 65%;
    height: 35px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.Search-bar:hover {
    transform: scale(1.05);
}


.Search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 4px;
    font-size: 12px;
    color: white;
}


.Search-input::placeholder {
    color: white;
}


.Search-input:focus {
    outline: none;
}


.Search-bar img {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}


.Shopping-trolly img{
    width: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.Shopping-trolly img:hover{
    transform: scale(1.10);
}

@media screen and (min-width: 1000px) {
    .Filter{
        padding: 5px;
    }

    .Content-container {
        display: flex;
        flex-direction: row;
    }

    .Logo {
        display: flex;
        width: 8%;
    }

    .Search-bar {
        width: 70%;
        height: 40px;
    }

    .Shopping-trolly img{
        width: 45px;
    }
   
}




