.Home-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}


.Title {
    width: 75%;
    padding: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
}

.Title h1 {
    font-size: 5vw;
    font-weight: 900;
    color: #fff;
}

.Title h2 {
    width: 80%;
    font-size: 3vh;
    text-align: justify;
    font-weight: 200;
    color: #fff;
    margin-top: 10px;
}

.Doubt{
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}
@media (min-width: 380px) and (max-width: 600px){
    .Title {
        width: 85%;
        padding: 3%;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        display: flex;
        flex-direction: column;
    }
    
    .Title h1 {
        font-size: 2.5vw;
        font-weight: 900;
        color: #fff;
    }

    .Title h2 {
        width: 85%;
        font-size: 1.2vh;
    }
}

@media (min-width: 601px) and (max-width: 799px) {
    .Title {
        width: 85%;
        padding: 3%;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        display: flex;
        flex-direction: column;
    }
    
    .Title h1 {
        font-size: 2.5vw;
        font-weight: 900;
        color: #fff;
    }

    .Title h2 {
        width: 85%;
        font-size: 1.2vh;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .Title {
        width: 80%;
        padding: 3%;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        display: flex;
        flex-direction: column;
    }
    
    .Title h1 {
        font-size: 3vw;
        font-weight: 900;
        color: #fff;
    }

    .Title h2 {
        width: 80%;
        font-size: 1.5vh;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .Title {
        width: 80%;
        padding: 3%;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        display: flex;
        flex-direction: column;
    }
    
    .Title h1 {
        font-size: 4vw;
        font-weight: 900;
        color: #fff;
    }

    .Title h2 {
        width: 80%;
        font-size: 2vh;
    }
}


