.reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 100px;
    background-image: url('../../assets/images/bg.jpeg');
    background-size: cover;
    background-position: center; 
    margin-top: 0px;
    background-repeat: no-repeat; 
}

 .registration{
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 30%;
    font-size: 1.5rem;
    border-radius: 25px;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    border: none;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    padding: 30px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.login {
    color: #C62733;
}

.error{
    color: red;
}

.success{
    color: #22f33e;
}

h1{
    color: #fff;
    font-size: 36px;
}