.Container-budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.Form-budget .button {
    width: 240px;
    height: 70px;
    font-size: 35px;
    border-style: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.Form-budget .button:hover {
    background-image: linear-gradient(to top, #C62733, #E8545D);
    background-color: #E8545D;
}

.Form-budget {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
}

.meta-color {
    color: #C62733;
}

.Title-budget h1 {
    font-weight: 600;
    color: #706B6B;
    font-size: 70px;
}

.Title-budget h2 {
    font-weight: 400;
    color: #706B6B;
    font-size: 30px;
}

@media (min-width: 320px) and (max-width: 480px){
    .Title-budget h1 {
        font-size: 25px;
    }
    
    .Title-budget h2 {
        font-size: 10px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    .Title-budget h1 {
        font-size: 30px;
    }
    
    .Title-budget h2 {
        font-size: 15px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .Title-budget h1 {
        font-size: 45px;
    }
    
    .Title-budget h2 {
        font-size: 20px;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px){
    .Title-budget h1 {
        font-size: 55px;
    }
    
    .Title-budget h2 {
        font-size: 25px;
    }
  }
  