.Category img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.Category img:hover {
    transform: scale(1.10);
}

.Container-category {
    display: flex;
    justify-content: flex-start;
    margin: 3% 2%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.Category-list h2{
    color: #706B6B;
    font-weight: 400;
}

.Category-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Category-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Category-list li {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: #706B6B;
    font-weight: 400;
}

.Category-list li:hover {
    background-color: #f1f1f1;
}

@media screen and (min-width: 1000px) {
    .Container-category {
        margin: 0 10px;
        display: flex;
        justify-content: flex-start; 
        height: 100%;
    }

    .Category-list {
        padding: 15px;
        width: 300px;
    }

    .Category-list ul {
        padding: 15px 0;
    }
}