.Container {
    display: flex;
    width: 60%;
    height: 85px;
    background-color: #C62733;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-size: 30px;
    color: #F5F5F5;
    gap: 20px;
}

.Container .button {
    color: #706B6B;
    background-color: #F5F5F5;
    border-style: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    width: 195px;
    height: 55px;
    font-size: 20px;
}

.Container .button:hover {
    color: #fff;
    background-color: #706B6B;
}

.Doubt-icon {
    width: 60px; 
    height: 60px; 
    background-color: #C62733;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    right: 5px; 
    bottom: 50%; 
    transform: translateY(50%); 
    z-index: 1000;
}

.Doubt-icon img {
    width: 40px;
    height: 40px; 
}

@media (max-width: 600px) {
    .Container {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 799px) {
    .Container {
        width: 90%;
        height: 70px;
        font-size: 100%;
        gap: 10px;
        padding: 0 7px;
    }

    .Container .button {
        width: 20%;
        height: 27px;
        font-size: 75%;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .Container {
        width: 80%;
        height: 70px;
        font-size: 100%;
        gap: 10px;
        padding: 0 7px;
    }

    .Container .button {
        width: 20%;
        height: 27px;
        font-size: 75%;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .Container {
        width: 70%;
        height: 70px;
        font-size: 22px;
        gap: 10px;
        padding: 0 7px;
    }

    .Container .button {
        width: 20%;
        height: 35px;
        font-size: 15px;
    }
}

@media (min-width: 1201px) {
    .Container {
        width: 60%;
        height: 85px;
        font-size: 22px;
        padding: 0 7px;
    }

    .Container .button {
        width: 190px;
        height: 55px;
        font-size: 20px;
    }
}
