.Product-Container{
    margin-top: 5%;
}

.Product-Container h1 {
    padding-left: 10%;
    color: #706B6B;
    font-weight: 600;
    margin-bottom: 1%;
}

.Product-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.Product{
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    width: 300px; 
    height: 300px;
    gap: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    background-color: #ffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Product:hover {
    transform: scale(1.05);
}

.Product img{
    width: 200px;
}

.Product h2{
    font-size: 15px;
    color: #4E4848;
}

.Button-product{
    width: 40%;
    min-height: 30px;
    background-color: #C62733;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Button-product:hover {
    transform: scale(1.05);
}

.Button-product p{
    color: #ffff;
    font-weight: 200;
    font-size: 12px;
}

.Button-product img{
    width: 17px;
}

.All {
    padding-right: 55px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
}

a:hover{
    transform: scale(1.05);
}

@media (min-width: 1000px){
    .All a {
        margin-top: -20px;
    }
}
