.about {
  display: flex;
  flex-direction: column; /* Coluna para mobile */
  padding: 20px;
  margin-top: 4%;
  background-color: #D9D9D9;
}

.section {
  display: flex;
  flex-direction: column; /* Coluna para mobile */
  width: 100%;
}

.about-section {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}

.texto {
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 0; /* Margem reduzida para mobile */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.about-section p {
  line-height: 1.6;
  color: #333;
  margin: 0; /* Remove margens padrão */
  text-align: left; 
  white-space: normal; 
  word-break: break-word; 
  max-width: 100%;
}

.about-section h1 {
  text-align: center;
  color: #000000;
}

.about-section strong {
  color: #C62733;
}

.about-section img {
  max-width: 100%;
  height: auto; /* Ajuste a altura para manter a proporção */
  margin: 10px;
  border-radius: 8px;
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
  .section {
      flex-direction: row; /* Linha para telas maiores */
  }

  .about-section {
      width: 50%; /* Metade da largura em telas maiores */
  }

  .texto {
      margin: 50px; /* Aumenta a margem em telas maiores */
  }
}
